HELP.md

### Build ###
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
.mvn/wrapper/maven-wrapper.jar

### Environment ###
.env

### Logs ###
*.log

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Internal docs ###
PROJECT_CONTEXT.md

### Sensitive config ###
src/main/resources/application.properties

### Frontend (daca nu vrei sa fie public) ###
src/main/java/com/tbf/project/frontend/

### Node ###
node_modules/

### OS ###
.DS_Store
Thumbs.db